<!DOCTYPE html>
<html>
<head>
    <title>Stock Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            background-color: #00BFFF;
            color: white;
            font-family: Verdana, sans-serif;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            background-color: #1E90FF;
            border: none;
        }
        .card-header, .card-body {
            color: white;
        }
        .table-container {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 5px;
        }
        .table {
            background-color: white;
        }
        #symbolFilter {
            display: none;
        }
        .billboard {
            position: fixed;
            top: 10px;
            right: 10px;
            background-color: #f8f9fa;
            padding: 5px; /* Reduced padding */
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: black;
            margin-bottom: 50px;
            font-size: 0.9em; /* Reduced font size */
        }
    </style>
    <script>
        function toggleFields() {
            var type = document.getElementById("type").value;
            var cashField = document.getElementById("cashField");
            var symbolField = document.getElementById("symbolField");
            var quantityField = document.getElementById("quantityField");
            var priceField = document.getElementById("priceField");

            if (type === "deposit") {
                cashField.style.display = "block";
                symbolField.style.display = "none";
                quantityField.style.display = "none";
                priceField.style.display = "none";
            } else {
                cashField.style.display = "none";
                symbolField.style.display = "block";
                quantityField.style.display = "block";
                priceField.style.display = "block";
            }
        }

        function validateForm() {
            var type = document.getElementById("type").value;
            if (type === "deposit") {
                var cash = document.getElementById("cash").value;
                if (cash <= 0) {
                    alert("Cash amount must be a positive number.");
                    return false;
                }
            }
            return true;
        }

        function filterTable() {
            var input = document.getElementById("symbolFilter").value.toUpperCase();
            var table = document.getElementById("transactionsTable");
            var tr = table.getElementsByTagName("tr");

            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[2]; // Assuming the symbol is in the third column
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(input) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function toggleFilterInput() {
            var filterInput = document.getElementById("symbolFilter");
            if (filterInput.style.display === "none") {
                filterInput.style.display = "block";
            } else {
                filterInput.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("symbolFilter").addEventListener("input", filterTable);
        });
    </script>
</head>
<body>
    <div class="billboard">
        <h3>Portfolio Value: ${{ '%.3f' % portfolio_value }}</h3>
    </div>
    <div class="container">
        <h1 class="text-center">Owl's Wealth Management</h1>
        <div class="card">
            <div class="card-header">
                Add Transaction
            </div>
            <div class="card-body">
                <form action="/add_transaction" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" name="date" required>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" name="type" id="type" onchange="toggleFields()" required>
                            <option value="buy">Buy</option>
                            <option value="sell">Sell</option>
                            <option value="deposit">Deposit</option>
                            <option value="dividends">Dividends</option>
                            <option value="tax-dividends">Tax-Dividends</option>
                        </select>
                    </div>
                    <div class="form-group" id="symbolField">
                        <label for="symbol">Symbol</label>
                        <input type="text" class="form-control" name="symbol">
                    </div>
                    <div class="form-group" id="quantityField">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" name="quantity">
                    </div>
                    <div class="form-group" id="priceField">
                        <label for="price">Price</label>
                        <input type="number" step="0.01" class="form-control" name="price">
                    </div>
                    <div class="form-group" id="cashField" style="display: none;">
                        <label for="cash">Cash</label>
                        <input type="number" step="0.01" class="form-control" name="cash" id="cash" min="0.01">
                    </div>
                    <button type="submit" class="btn btn-light">Add Transaction</button>
                </form>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                Current Prices
            </div>
            <div class="card-body">
                <ul>
                    {% for symbol, price in current_prices.items() %}
                        <li>{{ symbol }}: ${{ '%.3f' % price }} (P/L: ${{ '%.3f' % pl_values[symbol][0] }}, P/L%: {{ '%.3f' % pl_values[symbol][1] }}%)</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                Transactions
            </div>
            <div class="card-body table-container">
                <button class="btn btn-light mb-3" onclick="toggleFilterInput()">Filter</button>
                <input type="text" id="symbolFilter" class="form-control mb-3" placeholder="Filter by Symbol">
                <table class="table table-striped" id="transactionsTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Symbol</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in transactions.iterrows() %}
                            <tr>
                                <td>{{ row['Date'] }}</td>
                                <td>{{ row['Type'] }}</td>
                                <td>{{ row['Symbol']|upper }}</td>
                                <td>{{ row['Quantity'] }}</td>
                                <td>{{ row['Price'] }}</td>
                                <td>{{ '%.2f' % (row['Quantity'] * row['Price']) if row['Quantity'] and row['Price'] else 'N/A' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>